@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomLayout";

    List<Pizza> pizze = new List<Pizza>();

    pizze.Add(new Pizza
            {
                Nome = "Margherita",
                Description = "Pizza Margherita , normale",
                Image = "~/img/margherita.png",
                Price = 8.99m
            });
    pizze.Add(new Pizza
            {
                Nome = "Capricciosa",
                Description = "pizza capricciosa, molto capricciosa",
                Image = "~/img/capricciosa.png",
                Price = 9.99m
            });
    pizze.Add(new Pizza
            {
                Nome = "Quattro Stagioni",
                Description = "Pizza quattro stagioni, in primavera è buona",
                Image = "~/img/quattro-stagioni.png",
                Price = 10.99m
            });
    pizze.Add(new Pizza
            {
                Nome = "Diavola",
                Description = "Pizza diavola, è sempre arrabbiata",
                Image = "~/img/diavola.png",
                Price = 9.49m
            });
    pizze.Add(new Pizza
            {
                Nome = "Bufala",
                Description = "pizza bufala, è uno scherzo",
                Image = "~/img/bufala.png",
                Price = 11.49m
            });
    
}


<div class="text-center">
   @*  <h1 class="display-4">Pizzeria ristorante</h1> *@
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    
    <h1 class="display-4 p-1">Pizzeria ristorante</h1>
    <h2 class="text-center">Lista di pizze</h2>

    <div class="container pt-1">
        <div class="row justify-content-center">

            @foreach (var itemPizza in pizze)
            {
                <div class="col-4  p-2">

                    <div class="card card-pizza" style="width: 18rem;">
                        <img src="@Url.Content(itemPizza.Image)" class="card-img-top" alt="@itemPizza.Nome">
                        <div class="card-body">
                            <h5 class="card-title">@itemPizza.Nome</h5>
                            <p class="card-text">@itemPizza.Description</p>
                            <p class="card-text">Prezzo: @itemPizza.Price &euro;</p>
                            @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>

</div>

